---
---
@charset "utf-8";

.title-red {
	color: #bc3232;
}

.navbar-brand:hover .title-red {
	color: #952727;
}

.title-black {
	color: #515151;
}

.navbar-brand:hover .title-black {
	color: #383838;
}

.jumbo {
	text-align: center;
	background-color: #777;
	margin-bottom: 20px;
	border-bottom: 1px solid #e7e7e7;
	color: #fff;
	padding: 30px;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}