<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header.html %}

	<main>

		<div class="banner">
			<div class="container">
				<div class="row">
					<div class="row-same-height">
						<div class="col-md-4 col-md-height">
							<img src="imgs/bar-code.png" alt=""></img>
						</div>
						<div class="col-md-8 col-md-height col-middle">
							<h3>Professional barcode scanners</h3>
							<p>
								This is some professional barcode scanner that is crazy awesome and not at all fake.please give us all your money. All you need to do is send 5 dollars to my home address, yay!
							</p>
							<a class="btn btn-default" href="#" role="button">Buy Now</a>
						</div>
					</div><!--row-same-height-->
				</div><!--row-->
			</div><!--container-->
		</div><!--banner-->

		<div class="main-content">
			<div class="container">

				{{ content }}

			</div>
		</div>
	</main>

	{% include footer.html %}

</body>
</html>